<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URLGlobalScheme</key>
	<string>com.alibaba.beehive</string>
	<key>moduleClasses</key>
	<array>
		<dict>
			<key>moduleClass</key>
			<string>HomeModule</string>
			<key>moduleLevel</key>
			<integer>1</integer>
			<key>modulePriority</key>
			<string>600</string>
		</dict>
		<dict>
			<key>moduleClass</key>
			<string>TMTradeAdapter</string>
			<key>moduleLevel</key>
			<integer>1</integer>
			<key>modulePriority</key>
			<string>599</string>
		</dict>
	</array>
</dict>
</plist>
